@import 'src/variables';

.ActionSelector {
    display: flex;

    @media screen and (min-width: $media375) {
        gap: 20px;
        margin-bottom: 30px;
    }

    @media screen and (min-width: $media1024) {
        gap: 20px;
        margin-bottom: 30px;
    }

    @media screen and (min-width: $media1440) {
        gap: 26px;
        margin-bottom: 40px;
    }

    @media screen and (min-width: $media1920) {
    }

    &__Action {
        color: #000;
        cursor: pointer;
        text-decoration: none;
        text-align: center;

        &:hover {
            color: $primary-color;
            border-bottom-color: $primary-color;
        }

        @media screen and (min-width: $media375) {
            font-size: 16px;
            background-color: #eaeaea;
            border-radius: $border-radius;
            padding: 23px 46px;
            border: none;
        }

        @media screen and (min-width: $media1024) {
            font-size: 12px;
            background-color: transparent;
            border-radius: 0;
            width: auto;
            padding: 0;
            border-bottom: solid 1px #000;
        }

        @media screen and (min-width: $media1440) {
            font-size: 14px;
        }

        @media screen and (min-width: $media1920) {
        }

        &__Active {
            color: $primary-color;

            @media screen and (min-width: $media375) {
                border: solid 1px $primary-color;
            }

            @media screen and (min-width: $media1024) {
                border: solid 1px transparent;
            }
        }
    }
}
