@import "src/variables";

.operation-col {
    @media screen and (min-width: $media375) {
        > .col {
            background-color: #fcfcfc;
            box-shadow: none;
        }
    }

    @media screen and (min-width: $media1024) {
        margin-left: 0 !important;
        margin-right: 0 !important;

        > .col {
            background-color: transparent;
            box-shadow: none;
        }
    }
}

.DepositContainer {
    margin: 0 auto;
    width: 1920px;

    @media screen and (max-width: $media1920) {
        width: 1600px;
    }

    @media screen and (max-width: $media1600) {
        width: 1440px;
    }

    @media screen and (max-width: $media1440) {
        width: 1400px;
    }

    @media screen and (max-width: $media1024) {
        width: 1000px;
    }

    @media screen and (max-width: $media435) {
        width: 360px;
    }

    .DepositBlock {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .DepositContent {
            align-items: center;
            background-color: #fbfbfb;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-top: 33px;
            width: 73%;

            @media screen and (max-width: $media435) {
                width: 100%;
            }
        }
    }
}
