@import "src/variables";

.content-col {
    .col {
        @media (max-width: $media435) {
            box-shadow: $box-shadow;
            border-radius: $border-radius;
            margin-top: 10px;

            &.BalanceCol,
            &.DailyProfitCol {
                margin-left: 5px;
            }

            &.AlreadyEarnedCol,
            &.ApyCol {
                margin-right: 5px;
            }
        }
    }

    .col-12 {
        @media (max-width: $media435) {
            box-shadow: $box-shadow;
            border-radius: $border-radius;
            margin-top: 10px;
        }
    }

    &.dashboard-col {
        .ClickableHeader {
            margin: 0;

            @media (min-width: $media1024) {
                display: none;
            }

            .close {
                display: none;
            }
        }
    }
}
