@import 'src/variables';

.UzdContainer {
    &__Content {
        display: flex;
        min-height: 100%;

        @media screen and (min-width: $media375) {
            flex-direction: column;
        }

        @media screen and (min-width: $media1024) {
            flex-direction: row;
        }
    }

    &__Sidebar {
        @media screen and (min-width: $media375) {
            width: 100%;
            padding: 24px 30px 0 30px;
        }

        @media screen and (min-width: $media1024) {
            width: 350px;
            padding: 44px 30px 0 30px;
        }

        @media screen and (min-width: $media1440) {
            width: 430px;
            padding: 56px 30px 0 70px;
        }

        &_Title {
            display: flex;
            align-items: center;

            h2 {
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                color: #636363;
                margin: 0 0 0 10px;
            }
        }

        &_Hero {
            font-weight: 500;
            font-size: 10px;
            line-height: 138.1%;
            color: #636363;

            @media screen and (min-width: $media375) {
                margin-top: 26px;
            }

            @media screen and (min-width: $media1024) {
                margin-top: 26px;
            }

            @media screen and (min-width: $media1440) {
                margin-top: 40px;
            }
        }

        .InfoBlock {
            height: 82px;
            // margin-top: 0;
            // margin-bottom: 10px;
            margin: 0 5px 10px 5px;

            &__title {
                padding: 20px 0 0 0px;
                margin-top: 0;
                display: flex;

                .InfoBlock__buttons {
                    margin-left: 10px;
                    display: flex;
                    cursor: pointer;

                    img {
                        width: 12px;
                        height: auto;
                        margin-left: 5px;
                    }
                }
            }
        }

        > .row {
            .col-6:first-child,
            .col-sm-12 {
                .InfoBlock {
                    margin-left: 0;
                }
            }
        }
    }

    &__Actions {
        @media screen and (min-width: $media1024) {
            // padding-left: 30px;
        }

        @media screen and (min-width: $media1440) {
            // padding-left: 50px;
        }

        @media screen and (min-width: $media1920) {
            // padding-left: 50px;
        }

        .InfoBars {
            display: flex;
            width: 100%;

            @media screen and (min-width: $media375) {
                gap: 10px;
                flex-direction: column;
            }

            @media screen and (min-width: $media1024) {
                gap: 10px;
                flex-direction: row;
            }

            @media screen and (min-width: $media1440) {
                gap: 23px;
            }

            .InfoBar {
                @media screen and (min-width: $media1024) {
                    width: 240px;

                    &:nth-child(1) {
                        margin-left: 30px;
                    }
                }

                @media screen and (min-width: $media1440) {
                    width: 338px;

                    &:nth-child(1) {
                        margin-left: 50px;
                    }
                }

                @media screen and (min-width: $media1920) {
                    width: 394px;

                    &:nth-child(1) {
                        margin-left: 50px;
                    }
                }

                .title {
                    font-weight: 600;
                    color: #000000;

                    @media screen and (min-width: $media1024) {
                        font-size: 12px;
                        line-height: 15px;
                        margin-bottom: 20px;
                    }

                    @media screen and (min-width: $media1440) {
                        font-size: 16px;
                        line-height: 20px;
                        margin-bottom: 20px;
                    }
                }

                .values {
                    display: flex;

                    @media screen and (min-width: $media375) {
                        gap: 10px;
                    }

                    @media screen and (min-width: $media1024) {
                        gap: 10px;
                    }

                    @media screen and (min-width: $media1440) {
                        gap: 17px;
                    }

                    .block {
                        background: #f0f0f0;
                        border-radius: $border-radius;
                        display: flex;

                        img {
                            width: 20px;
                            margin-right: 10px;
                        }

                        @media screen and (min-width: $media375) {
                            padding: 11px 17px;
                        }

                        @media screen and (min-width: $media1024) {
                            padding: 11px 17px;
                        }

                        @media screen and (min-width: $media1440) {
                            padding: 13px 20px;
                        }

                        span {
                            display: block;

                            &.name {
                                color: #000000;
                            }

                            &.value {
                                color: #5b5959;
                                font-family: 'Vela Sans Regular';
                            }

                            @media screen and (min-width: $media1024) {
                                font-size: 12px;
                                line-height: 16px;
                            }

                            @media screen and (min-width: $media1440) {
                                font-size: 13px;
                                line-height: 17px;
                            }
                        }
                    }
                }
            }
        }

        &_Inner {
            position: relative;
            display: flex;
            flex-wrap: wrap;

            @media screen and (min-width: $media375) {
                min-height: 900px;
            }

            @media screen and (min-width: $media1024) {
                min-height: auto;
            }

            @media screen and (min-width: $media1440) {
            }

            .protocol_fee {
                @media screen and (min-width: $media375) {
                    margin-top: 40px;
                    margin-left: 0;
                }

                @media screen and (min-width: $media1024) {
                    margin-top: 70px;
                    margin-left: 50px;
                }

                &__text {
                    margin-left: 20px;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 16px;
                    color: #636363;
                    width: 60%;
                }
            }

            .mint-card {
                @media screen and (min-width: $media375) {
                    margin-top: 20px;
                }

                @media screen and (min-width: $media1024) {
                    margin-top: 20px;
                    margin-left: 20px;
                    max-width: 285px;
                }

                @media screen and (min-width: $media1440) {
                    margin-top: 22px;
                    margin-left: 22px;
                    max-width: none;
                }

                @media screen and (min-width: $media1440) {
                    max-width: 416px;
                }

                .title {
                    @media screen and (min-width: $media1024) {
                        font-size: 12px;
                    }

                    @media screen and (min-width: $media1440) {
                        font-size: 16px;
                    }

                    img {
                        @media screen and (min-width: $media1024) {
                            width: 20px;
                            height: 20px;
                        }

                        @media screen and (min-width: $media1440) {
                            width: 28px;
                            height: 28px;
                        }
                    }
                }
            }

            .mint-redeem-inputs {
                background: linear-gradient(64.61deg, #f7f7f7 9.76%, #f7f7f7 99.42%);
                border-radius: $border-radius;

                @media screen and (min-width: $media375) {
                    padding: 20px;
                    margin-top: 22px;
                    width: 100%;
                }

                @media screen and (min-width: $media1024) {
                    padding: 20px;
                    margin-top: 22px;
                    width: 300px;
                    margin-left: 30px;
                }

                @media screen and (min-width: $media1440) {
                    padding: 32px;
                    margin-top: 22px;
                    width: 498px;
                    margin-left: 50px;
                }

                .inputs {
                    display: flex;
                    flex-direction: column;
                    position: relative;

                    &.redeem {
                        flex-direction: column-reverse;
                    }
                }
            }

            .s-coin {
                background: #f0f0f0;
                border-radius: $border-radius;
                padding: 15px 20px;
                display: flex;
                align-items: center;
                margin-bottom: 12px;

                // @media screen and (min-width: $media375) {
                //     width: 215px;
                //     font-size: 12px;
                // }

                @media screen and (min-width: $media1024) {
                    width: 250px;
                    font-size: 12px;
                }

                @media screen and (min-width: $media1440) {
                    width: 339px;
                    font-size: 14px;
                }

                .left-part {
                    @media screen and (min-width: $media375) {
                        width: 100px;
                    }

                    @media screen and (min-width: $media1024) {
                        width: 90px;
                    }

                    @media screen and (min-width: $media1440) {
                        width: 120px;
                    }
                }

                .right-part {
                    position: relative;
                }

                .action {
                    @media screen and (min-width: $media1440) {
                        font-weight: 500;
                        font-size: 13px;
                        line-height: 17px;
                        color: #5b5959;
                    }
                }

                .coin {
                    @media screen and (min-width: $media1440) {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 22px;
                    }
                }

                input[type='text'] {
                    background: #e7e7e7;
                    border: none;
                    border-radius: $border-radius;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 16px;
                    color: #636363;
                    // padding-right: 50px;
                    width: 170px;
                    font-family: 'Vela Sans Regular';

                    @media screen and (min-width: $media375) {
                        width: 90px;
                        height: 24px;
                        font-size: 11px;
                        padding: 3px 12px;
                        margin-left: 10px;
                    }

                    @media screen and (min-width: $media1024) {
                        width: 100px;
                        height: 24px;
                        font-size: 11px;
                        padding: 3px 12px;
                        padding-right: 50px;
                    }

                    @media screen and (min-width: $media1440) {
                        width: 140px;
                        height: 42px;
                        font-size: 13px;
                        padding: 6px 12px;
                        padding-right: 50px;
                    }
                }

                .max {
                    border-radius: 3px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #f95404;
                    color: #f95404;
                    cursor: pointer;
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    // display: none;

                    &:hover {
                        background-color: #f95404;
                        color: #fff;
                    }

                    @media screen and (min-width: $media375) {
                        font-size: 10px;
                        line-height: 13px;
                        width: 35px;
                        height: 17px;
                    }

                    @media screen and (min-width: $media1024) {
                        font-size: 10px;
                        line-height: 13px;
                        width: 35px;
                        height: 17px;
                    }

                    @media screen and (min-width: $media1440) {
                        font-size: 10px;
                        line-height: 14px;
                        width: 35px;
                        height: 17px;
                    }

                    @media screen and (min-width: $media1920) {
                        font-size: 10px;
                        line-height: 14px;
                        width: 41px;
                        height: 20px;
                    }
                }
            }

            .swap {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(0, -50%);
                display: flex;
                align-items: center;
                gap: 10px;

                @media screen and (min-width: $media375) {
                    width: 71px;
                    margin-right: -12px;
                }

                @media screen and (min-width: $media1024) {
                    margin-right: -30px;
                    width: 71px;
                }

                @media screen and (min-width: $media1440) {
                    width: 136px;
                }

                svg {
                    background-color: #f0f0f0;
                    border-radius: 100%;
                    border: solid 10px #f7f7f7;

                    @media screen and (min-width: $media375) {
                        width: 63px;
                        height: 63px;
                        padding: 8px;
                    }

                    @media screen and (min-width: $media1024) {
                        width: 50px;
                        height: 50px;
                        padding: 8px;
                    }

                    @media screen and (min-width: $media1440) {
                        width: 54px;
                        height: 54px;
                        padding: 8px;
                    }
                }

                span {
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 14px;
                    color: #fb7b0b;

                    @media screen and (min-width: $media375) {
                        display: none;
                    }

                    @media screen and (min-width: $media1024) {
                        display: none;
                    }

                    @media screen and (min-width: $media1440) {
                        display: block;
                    }
                }

                margin-bottom: 15px;
                cursor: pointer;
            }

            h2 {
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                color: #636363;

                &.how-it-works {
                    @media screen and (min-width: $media375) {
                        margin: 22px 0 0 0;
                    }

                    @media screen and (min-width: $media1024) {
                        margin: 22px 0 0 0;
                    }

                    @media screen and (min-width: $media1440) {
                        margin: 22px 0 0 0;
                    }

                    @media screen and (min-width: $media1920) {
                        margin: 22px 0 0 0;
                    }
                }
            }

            .curve-boost {
                @media screen and (min-width: $media375) {
                }

                @media screen and (min-width: $media1024) {
                }

                @media screen and (min-width: $media1440) {
                }

                .left-part {
                    @media screen and (min-width: $media375) {
                        width: 170px;
                    }

                    @media screen and (min-width: $media1024) {
                        width: 170px;
                    }

                    @media screen and (min-width: $media1440) {
                        width: 170px;
                    }

                    display: flex;
                    align-items: center;

                    img {
                        margin-right: 17px;
                    }

                    div:first-child {
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 16px;
                    }

                    div:last-child {
                        font-weight: 500;
                        font-size: 10px;
                        line-height: 14px;
                        margin-top: 2px;
                    }
                }

                .divider {
                    width: 1px;
                    height: 30px;
                    background-color: #ebe5d6;
                }

                .pool-percent {
                    padding-left: 21px;

                    > .inner {
                        display: flex;
                        align-items: center;
                    }

                    .title {
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 16px;
                        color: #636363;
                    }

                    .status {
                        width: 7px;
                        height: 7px;
                        border-radius: 100%;
                        margin-left: 5px;

                        &.green {
                            background-color: #9eff00;
                        }
                    }

                    .percent {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 26px;
                        color: #f64a00;
                    }
                }
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    margin-top: 15px;
                    display: flex;
                    align-items: center;

                    .counter {
                        background: #f5f0ea;
                        font-weight: 500;
                        font-size: 10px;
                        line-height: 14px;
                        color: #636363;
                        width: 23px;
                        height: 23px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 10px;
                        border-radius: 100%;
                    }

                    span {
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 16px;
                        color: #636363;

                        @media screen and (min-width: $media1440) {
                            font-size: 14px;
                            line-height: 21px;
                        }
                    }
                }
            }
        }
    }

    .CurveWarning {
        @media screen and (min-width: $media1024) {
            min-height: 146px;
            margin-left: 10px;
        }

        @media screen and (min-width: $media1440) {
            min-height: auto;
            margin-left: 0;
        }

        .title {
            @media screen and (min-width: $media375) {
                margin-bottom: 10px !important;
            }

            @media screen and (min-width: $media1024) {
                margin-bottom: 10px !important;
            }

            @media screen and (min-width: $media1440) {
                margin-bottom: 20px !important;
            }
        }

        .text {
            font-weight: 500;
            z-index: 2;

            @media screen and (min-width: $media375) {
                // margin-bottom: 20px;
                position: relative;
            }

            @media screen and (min-width: $media1024) {
                width: 70%;
                font-size: 11px;
                line-height: 14px;
            }

            @media screen and (min-width: $media1440) {
                width: 50%;
                font-size: 13px;
                line-height: 17px;
            }
        }

        .zun-button {
            @media screen and (min-width: $media375) {
                display: inline-flex;
                margin: 30px 0;
            }

            @media screen and (min-width: $media1024) {
                margin: 0;
                position: absolute;
                z-index: 2;
                top: auto;
                bottom: 15px;
                left: 20px;
                right: auto;
            }

            @media screen and (min-width: $media1440) {
                right: 34px;
                top: 50%;
                bottom: auto;
                left: auto;
                transform: translateY(-50%);
            }
        }

        .bg {
            position: absolute;
            pointer-events: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;

            @media screen and (min-width: $media375) {
                right: 20px;
            }

            @media screen and (min-width: $media1024) {
                right: 40px;
            }

            @media screen and (min-width: $media1440) {
                right: 195px;
            }
        }
    }

    .Uzd-Zlp-Balances {
        background: linear-gradient(80.69deg, #f1f1f1 9.7%, #f4f4f4 92.78%);
        border-radius: $border-radius;

        @media screen and (min-width: $media375) {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            padding: 20px;
        }

        @media screen and (min-width: $media1024) {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            padding: 20px;
        }

        @media screen and (min-width: $media1440) {
            font-weight: 500;
            font-size: 13px;
            line-height: 17px;
            padding: 22px;
        }

        .Counters {
            @media screen and (min-width: $media375) {
                gap: 10px;
            }

            @media screen and (min-width: $media1024) {
                gap: 10px;
            }

            @media screen and (min-width: $media1440) {
                gap: 10px;
            }

            .Counter {
                width: 50%;
                background: #ebebeb;
            }
        }
    }

    .ZLPBalance {
        position: relative;

        @media screen and (min-width: $media375) {
            height: 83px;
        }

        @media screen and (min-width: $media1024) {
            height: 69px;
        }

        @media screen and (min-width: $media1440) {
            height: 78px;
        }

        @media screen and (min-width: $media1920) {
            height: 91px;
        }

        &__Bg {
            pointer-events: none;
            position: absolute;
            right: 70px;
            top: 50%;
            transform: translateY(-50%);
        }

        &__Logo {
            pointer-events: none;
            position: absolute;
            right: 32px;
            top: 50%;
            transform: translateY(-50%);
        }

        .Counter__Title {
            @media screen and (min-width: $media375) {
                padding-top: 10px;
                font-size: 14px;
            }

            @media screen and (min-width: $media1024) {
                padding-top: 0;
                margin-top: 3px;
                font-size: 12px;
            }

            @media screen and (min-width: $media1440) {
                margin-top: 3px;
            }

            @media screen and (min-width: $media1920) {
                margin-top: 6px;
            }
        }

        .Counter__Value {
            font-family: 'Vela Sans Regular';

            @media screen and (min-width: $media375) {
                margin-top: 7px;
                font-size: 14px;
            }

            @media screen and (min-width: $media1024) {
                margin-top: 7px;
                font-size: 12px;
            }

            @media screen and (min-width: $media1440) {
                margin-top: 7px;
            }

            @media screen and (min-width: $media1920) {
                margin-top: 10px;
                font-size: 16px;
                line-height: 22px;
            }
        }
    }

    .Mode-Selector {
        &-Item {
            @media screen and (min-width: $media1440) {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}
