@import 'src/variables';

.PieChart {
    @media (min-width: $media1024) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    &__Header {
        @media (min-width: $media375) {
            margin: 20px 0 0 10px;
        }

        @media (min-width: $media1024) {
            font-size: 14px;
            color: $muted-color;
            width: 100%;
            margin: 17px 0 20px 16px;
        }

        @media (min-width: $media1440) {
            font-size: 12px;
            margin: 23px 0 20px 33px;
        }

        @media (min-width: $media1920) {
            font-size: 18px;
            line-height: 25px;
            margin: 38px 0 20px 32px;
        }
    }

    .PieChartWrapper {
        position: relative;
        display: flex;
        align-content: center;
        justify-content: center;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;

        @media (min-width: $media1024) {
            width: 117px;
            margin-left: 20px;
            margin-top: 40px;
        }

        @media (min-width: $media1440) {
            width: 94px;
            margin-left: 33px;
            margin-top: 16px;
        }

        @media (min-width: $media1920) {
            width: 228px;
        }

        .PieChart__Chart {
            @media (min-width: $media375) {
                width: 166px;
                height: 166px;
            }

            @media (min-width: $media1024) {
                width: 117px;
                height: 117px;
            }

            @media (min-width: $media1440) {
                width: 94px;
                height: 94px;
            }

            @media (min-width: $media1920) {
                width: 228px;
                height: 228px;
            }
        }

        &__Legend {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            &__Label {
                color: $muted-color;
                font-size: 14px;

                @media (min-width: $media1024) {
                    font-size: 10px;
                    line-height: 14px;
                }

                @media (min-width: $media1440) {
                    font-size: 8px;
                }

                @media (min-width: $media1920) {
                    font-size: 14px;
                    line-height: 19px;
                }
            }

            &__Counter {
                color: $primary-color;

                @media (min-width: $media375) {
                    font-size: 35px;
                    line-height: 35px;
                    margin-bottom: 5px;
                    margin-top: -5px;
                }

                @media (min-width: $media1024) {
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 5px;
                    margin-top: -5px;
                }

                @media (min-width: $media1440) {
                    font-size: 15px;
                    line-height: 20px;
                    margin-bottom: 0;
                    margin-top: 0;
                }

                @media (min-width: $media1920) {
                    font-size: 25px;
                    line-height: 34px;
                    margin-bottom: 5px;
                    margin-top: -5px;
                }
            }
        }
    }

    .PieChart__StratList {
        @media (min-width: $media375) {
            margin-bottom: 40px;
        }

        @media (min-width: $media1024) {
            margin-left: 30px;
            margin-bottom: 0;
        }

        @media (min-width: $media1440) {
            margin-left: 24px;
        }

        @media (min-width: $media1920) {
            margin-left: 76px;
        }

        .PieChart__StratList__Item {
            display: flex;
            flex-direction: row;
            align-items: center;

            @media (min-width: $media375) {
                margin-bottom: 10px;
                font-size: 14px;
                line-height: 19px;
            }

            @media (min-width: $media1024) {
                margin-bottom: 10px;
                font-size: 10px;
                line-height: 14px;
            }

            @media (min-width: $media1440) {
                font-size: 12px;
                line-height: 16px;
            }

            @media (min-width: $media1920) {
                font-size: 16px;
                line-height: 22px;
            }

            &__Circle {
                @media (min-width: $media375) {
                    width: 15px;
                    height: 15px;
                    border-radius: 6px;
                    margin-right: 20px;
                }

                @media (min-width: $media1024) {
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;
                    margin-right: 10px;
                }

                @media (min-width: $media1920) {
                    width: 14px;
                    height: 14px;
                    margin-right: 15px;
                }
            }

            a {
                color: #000;
                text-decoration: none;
                border-bottom: dashed 1px #000;
            }
        }
    }
}
