@import "src/variables";

.PieChart {
    @media (min-width: $media1024) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    &__Header {
        @media (min-width: $media375) {
            margin: 20px 0 0 10px;
        }
        @media (min-width: $media1024) {
            font-size: 18px;
            color: $muted-color;
            width: 100%;
            margin: 25px 0 20px 15px;
        }

        @media (min-width: $media1440) {
            font-size: 23px;
        }

        @media (min-width: $media1920) {
            font-size: 25px;
        }
    }

    .PieChartWrapper {
        position: relative;
        display: flex;
        align-content: center;
        justify-content: center;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;

        @media (min-width: $media1024) {
            width: 166px;
            margin-left: 20px;
        }

        @media (min-width: $media1440) {
            width: 216px;
        }

        @media (min-width: $media1920) {
            width: 309px;
        }
    
        .PieChart__Chart {
            @media (min-width: $media375) {
                width: 216px;
                height: 216px;
            }
    
            @media (min-width: $media1024) {
                width: 166px;
                height: 166px;
            }

            @media (min-width: $media1440) {
                width: 216px;
                height: 216px;
            }

            @media (min-width: $media1920) {
                width: 309px;
                height: 309px;
            }
        }
    
        &__Legend {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
    
            &__Label {
                color: $muted-color;
                font-size: 14px;

                @media (min-width: $media1440) {
                    font-size: 17px;
                }

                @media (min-width: $media1920) {
                    font-size: 20px;
                }
            }
    
            &__Counter {
                color: $primary-color;

                @media (min-width: $media375) {
                    font-size: 35px;
                }
    
                @media (min-width: $media1024) {
                    font-size: 25px;
                }

                @media (min-width: $media1440) {
                    font-size: 40px;
                }

                @media (min-width: $media1920) {
                    font-size: 50px;
                }
            }
        }
    }

    .PieChart__StratList {
        @media (min-width: $media375) {
            margin-bottom: 40px;
        }

        @media (min-width: $media1024) {
            margin-left: 50px;
            margin-bottom: 0;
        }

        .PieChart__StratList__Item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            @media (min-width: $media1024) {
                margin-bottom: 10px;
            }

            @media (min-width: $media1440) {
                font-size: 18px;
            }

            &__Circle {
                @media (min-width: $media375) {
                    width: 15px;
                    height: 15px;
                    border-radius: 6px;
                    margin-right: 20px;
                }
            }
        }
    }
}