@import 'src/variables';

.PieChart {
    background: linear-gradient(73.44deg, #f7f7f7 -19.23%, #f6f6f6 52.91%);
    border-radius: $border-radius;

    @media (min-width: $media375) {
        padding: 20px;
        margin-top: 21px;
        margin-bottom: 20px;
    }

    @media (min-width: $media1024) {
        width: 275px;
        height: 316px;
        padding: 20px;
        margin-top: 21px;
        margin-bottom: 0;
    }

    @media (min-width: $media1440) {
        width: 353px;
        height: 316px;
        padding: 25px;
        margin-top: 21px;
    }

    @media (min-width: $media1920) {
        width: 610px;
        height: 375px;
        padding: 25px;
        margin-top: 21px;
    }

    &__Header {
        font-family: 'Space Grotesk';
        font-weight: 600;

        @media (min-width: $media375) {
            font-size: 14px;
            line-height: 16px;
        }

        @media (min-width: $media1024) {
            font-size: 12px;
            line-height: 16px;
        }

        @media (min-width: $media1440) {
            font-size: 13px;
            line-height: 17px;
        }

        @media (min-width: $media1920) {
        }
    }

    .PieChart__StratList {
        @media (min-width: $media375) {
        }

        @media (min-width: $media1024) {
        }

        @media (min-width: $media1440) {
        }

        @media (min-width: $media1920) {
        }

        .PieChart__StratList__Item {
            @media (min-width: $media375) {
                margin-top: 20px;
            }

            @media (min-width: $media1024) {
                margin-top: 20px;
            }

            @media (min-width: $media1440) {
                margin-top: 20px;
            }

            .progress {
                height: 4px;
                margin-top: 7px;
            }

            a {
                color: #000;
                text-decoration: none;
                font-family: 'Space Grotesk';
                font-style: normal;
                font-weight: 500;

                @media (min-width: $media1024) {
                    font-size: 12px;
                    line-height: 16px;
                }

                @media (min-width: $media1440) {
                    font-size: 13px;
                    line-height: 17px;
                }
            }

            .size {
                font-family: 'Vela Sans Regular';
                font-style: normal;
                font-weight: 600;
                font-size: 13px;
                line-height: 18px;
                margin: 0 0 0 auto;
            }
        }
    }
}
