@import 'src/variables';

.InfoBlock {
    border-radius: 5px;
    position: relative;

    &_colorful {
        background: #fff3e9;
        background: -moz-linear-gradient(top, #fff3e9 0%, #fef5e8 100%);
        background: -webkit-linear-gradient(top, #fff3e9 0%, #fef5e8 100%);
        background: linear-gradient(to bottom, #fff3e9 0%, #fef5e8 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff3e9', endColorstr='#fef5e8',GradientType=0 );
    }

    @media screen and (min-width: $media375) {
        // height: 88px;
    }

    @media screen and (min-width: $media1024) {
        // width: 226px;
        // max-width: 226px;
        // height: 82px;
        margin: 0 6.5px 11px 6.5px;
    }

    @media screen and (min-width: $media1440) {
        // width: 326px;
        // max-width: 326px;
        // height: 94px;
        margin: 0 10px 14px 7px;
    }

    @media screen and (min-width: $media1920) {
        // width: 449px;
        // max-width: 449px;
        // height: 130px;
        margin: 0 12px 23px 12px;
    }

    &__Icon {
        @media screen and (min-width: $media1440) {
            margin-right: 14px;
            float: left;
        }
    }

    &__title {
        color: #636363;

        @media screen and (min-width: $media375) {
            margin-left: 12px;
            margin-top: 17px;
            font-size: 15px;
            line-height: 20px;
        }

        @media screen and (min-width: $media1024) {
            margin-left: 15px;
            margin-top: 17px;
            font-size: 12px;
            line-height: 16px;
        }

        @media screen and (min-width: $media1440) {
            margin-left: 24px;
            margin-top: 17px;
            font-size: 12px;
            line-height: 16px;
        }

        @media screen and (min-width: $media1920) {
            margin-left: 32px;
            margin-top: 24px;
            font-size: 18px;
            line-height: 25px;
        }

        &.with_hint {
            display: flex;
            align-items: center;
        }
    }

    &__description {
        @media screen and (min-width: $media375) {
            margin-left: 16px;
            margin-top: 10px;
            font-size: 14px;
            line-height: 19px;
        }

        @media screen and (min-width: $media1024) {
            margin-left: 16px;
            margin-top: 10px;
            font-size: 12px;
            line-height: 16px;
        }

        @media screen and (min-width: $media1440) {
            margin-left: 24px;
            margin-top: 5px;
            font-size: 16px;
            line-height: 22px;
        }

        @media screen and (min-width: $media1920) {
            margin-left: 32px;
            margin-top: 18px;
            font-size: 16px;
            line-height: 22px;
        }

        &_color {
            color: $primary-color;

            @media screen and (min-width: $media375) {
                font-size: 16px;
                line-height: 22px;
            }

            @media screen and (min-width: $media1024) {
                font-size: 16px;
                line-height: 21.8px;
            }

            @media screen and (min-width: $media1440) {
                font-size: 16px;
                line-height: 22px;
            }

            @media screen and (min-width: $media1920) {
                font-size: 25px;
                line-height: 34px;
            }
        }
    }

    &__hint {
        display: flex;
        align-items: center;
        padding-left: 10px;
    }
}
