$media375: 375px;

.Form {
    display: flex;
    justify-content: center;
    margin-top: 33px;
    width: 67%;

    @media screen and (max-width: $media375) {
        width: 100%;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        input[type='submit'] {
            background-color: #f74b01;
            border-radius: 10px;
            border: none;
            color: #fff;
            cursor: pointer;
            font-family: 'Anderson Grotesk';
            padding: 14px 0 12px 0;
            width: 25%;

            @media screen and (max-width: $media375) {
                height: 44px;
                margin: 30px 0;
                width: 169px;
            }
        }
    }
}
