@import 'src/variables';

.Form {
    border-radius: $border-radius;
    background: linear-gradient(64.61deg, #f7f7f7 9.76%, #f6f6f6 99.42%);

    @media screen and (min-width: $media375) {
        padding: 20px;
    }

    @media screen and (min-width: $media1024) {
        padding: 20px;
    }

    @media screen and (min-width: $media1440) {
        padding: 30px;
    }

    .InputInfo {
        display: flex;
    }

    .error {
        @media screen and (min-width: $media1024) {
            font-size: 12px;
            line-height: 16px;
        }
    }

    .buttons {
        gap: 0 10px;

        @media screen and (min-width: $media1024) {
            margin-top: 20px;
        }

        @media screen and (min-width: $media1440) {
            margin-top: 40px;
        }
    }

    button {
        background: linear-gradient(0deg, #f96501 0%, #ffa001 100%);
        border-radius: $border-radius;
        border: none;
        color: #fff;

        @media screen and (min-width: $media375) {
            // width: 120px;
            padding: 10px 28px;
            font-size: 14px;
            line-height: 19px;
            margin-top: 0;
            margin-bottom: 20px;
        }

        @media screen and (min-width: $media1024) {
            font-size: 12px;
            line-height: 16px;
            margin-top: 0;
            margin-bottom: 0;
        }

        @media screen and (min-width: $media1440) {
            height: 36px;
        }

        @media screen and (min-width: $media1920) {
            width: 141px;
            height: 42px;
            font-size: 14px;
            line-height: 19px;
        }
    }

    .deposit-button-wrapper {
        position: relative;

        @media screen and (min-width: $media375) {
            display: flex;
            margin-top: 10px;
            width: 100%;
        }

        @media screen and (min-width: $media1024) {
            display: flex;
            margin-top: 10px;
        }

        @media screen and (min-width: $media1440) {
            margin-top: 0;
        }
    }

    @media screen and (min-width: $media375) {
        flex-basis: 100%;
    }

    @media screen and (min-width: $media1024) {
        flex-basis: auto;
        width: 300px;
    }

    @media screen and (min-width: $media1440) {
        width: 498px;
    }

    @media screen and (min-width: $media1920) {
        width: 543px;
    }

    .direct-withdraw-warning {
        background: #fff5e9;
        border-radius: 5px;
        font-size: 12px;
        padding: 10px 20px;
        color: #767676;
    }

    .direct-withdraw-warning {
        background: #fff5e9;
        border-radius: 5px;
        font-size: 12px;
        padding: 10px 20px;
        color: #767676;
    }

    .inner {
        @media screen and (min-width: $media375) {
            // padding: 15px 15px 30px 15px;
            border-radius: 3px;
        }

        @media screen and (min-width: $media1024) {
            padding: 0;
            background: transparent;
            border-radius: 0;
            // background: #fff5e9;
        }
    }
}
