@import "src/variables";

.WalletStatus {
    align-items: center;
    background-color: #f64a00;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 19px;
    height: 80px;
    justify-content: center;
    width: 300px;

    &:hover {
        background-color: $on-hover-color;
    }

    img {
        height: 22px;
        width: 26px;
    }

    &__connected {
        background-color: #EFEEEE;

        span {
            font-size: 25px;
            color: #000;
        }
    }

    @media (min-width: $media375) {
        width: 55px;
        height: 43px;
        border-radius: $border-radius17;

        img {
            margin: 0;
        }
    }

    @media screen and (min-width: $media1024) {
        height: 59px;
        width: 161px;
        font-size: 16px;
        border-radius: $border-radius17;

        img {
            height: auto;
            width: 18px;
            margin-right: 10px;
        }
    }

    @media screen and (min-width: $media1440),
    screen and (min-width: $media1200) {
        height: 78px !important;
        width: 210px !important;
        font-size: 20px !important;
        border-radius: $border-radius !important;

        &__connected {
            background-color: #EFEEEE;

            span {
                font-size: 16px;
            }
        }

        img {
            width: 27px;
            height: auto;
        }
    }

    @media screen and (min-width: $media1600) {
        height: 80px !important;
        width: 300px !important;
        font-size: 16px !important;
    }

    @media screen and (min-width: $media1920) {
        height: 80px !important;
        width: 300px !important;
        font-size: 25px !important;

        img {
            width: 35px;
            height: auto;
            margin-right: 25px;
        }
    }
}
