@import "src/variables";

.WalletStatus {
    background: #fdf1de;
    background: -moz-linear-gradient(top,  #fdf1de 0%, #ffffff 77%);
    background: -webkit-linear-gradient(top,  #fdf1de 0%,#ffffff 77%);
    background: linear-gradient(to bottom,  #fdf1de 0%,#ffffff 77%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdf1de', endColorstr='#ffffff',GradientType=0 );
    display: flex;
    align-items: flex-start;

    @media screen and (min-width: $media1440) {
        height: 136px;
        padding-left: 20px;
        padding-top: 37px;
    }

    &__connected {
        justify-content: space-between;

        .state {
            font-size: 16px;
            color: #636363;
            line-height: 21.8px;
        }

        .address {
            color: $primary-color;
            line-height: 21.8px;
        }

        img {
            margin-right: 20px;
        }
    }
}
