@import "src/variables";

.Disclaimer {
    background: #FFF5E9;
    border-radius: 5px;
    color: #767676;
    display: flex;
    align-items: center;
    align-self: flex-start;

    &__icon {
        @media (min-width: $media375) {

        }

        @media screen and (min-width: $media1024) {
            margin: 0 10px 0 10px;
            width: 23px;
            height: 23px;
        }

        @media screen and (min-width: $media1440) {
            margin: 0 15px 0 17px;
            width: 29px;
            height: 29px;
        }

        @media screen and (min-width: $media1920) {
            width: 57px;
            height: 57px;
            margin: 0 22px 0 28px;
        }
    }

    @media screen and (min-width: $media1024) {
        font-size: 9px;
        line-height: 12px;
        width: 465px;
        height: 41px;
        margin-left: 109px;
        margin-top: 22px;
    }

    @media screen and (min-width: $media1440) {
        font-size: 12px;
        line-height: 16px;
        width: 670px;
        height: 42px;
        margin-left: 170px;
        margin-top: 26px;
    }

    @media screen and (min-width: $media1920) {
        font-size: 16px;
        line-height: 22px;
        width: 922px;
        height: 69px;
        margin-left: 193px;
        margin-top: 39px;
    }

    &__Content {
        a {
            text-decoration: none;
            color: $primary-color;
        }
    }
}
