@import "src/variables";

.navbar.header {
    padding: 0;
    margin: 0;
    align-items: flex-start;

    @media screen and (min-width: $media375) {
        height: 75px;
        min-height: 75px;
    }

    @media screen and (min-width: $media1024) {
        height: 64px;
        min-height: 64px;
    }

    @media screen and (min-width: $media1440) {
        height: 70px;
        min-height: 70px;
    }

    @media screen and (min-width: $media1920) {
        height: 110px;
        min-height: 110px;
    }

    .navbar-brand {
        margin: 0;
        padding: 0;
    }

    .Logo {
        @media screen and (min-width: $media375) {
            width: 130px;
            height: 19px;
            margin-top: 22px;
            margin-left: 22px;
        }

        @media screen and (min-width: $media1024) {
            width: 155px;
            height: 23px;
            margin-top: 31px;
            margin-left: 5px;
        }

        @media screen and (min-width: $media1440) {
            width: 143px;
            height: 21px;
            margin-top: 34.7px;
        }

        @media screen and (min-width: $media1920) {
            width: 230px;
            height: 34px;
            margin-top: 55px;
        }
    }
}
