@import "src/variables";

.navbar.header {
    height: 50px;
    min-height: 50px;
    padding: 0;
    margin: 0;
    // background: rgba(255, 0, 0, 0.1);
    align-items: flex-end;

    .navbar-brand {
        margin: 0;
        padding: 0;
    }

    .Logo {
        // @media (min-width: $media375) {
        //     width: 148px;
        //     height: 25px;
        // }

        @media screen and (min-width: $media1024) {
            width: 130px;
            height: 19px;
            margin-top: -11px;
            margin-left: -1px;
        }

        @media screen and (min-width: $media1440) {
            width: 130px;
            height: 19px;
        }

        // @media screen and (min-width: $media1920) {
        //     width: 254px;
        //     height: 42px;
        // }
    }
}
