@import "src/variables";

// $media435: 435px;

.Input {
    align-items: center;
    background-color: #f5f5f5;
    border-radius: $border-radius;
    display: flex;
    font-family: 'Anderson Grotesk';
    justify-content: space-between;
    padding: 10px 30px 10px 15px;
    margin-bottom: 33px;
    height: 95px;

    @media (min-width: $media375) {
        width: auto;
        margin-bottom: 10px;
        padding: 10px 20px 10px 15px;
        height: 85px;
    }

    @media (min-width: $media1024) {
        line-height: 16px;
        height: 71px;
        margin-bottom: 13px;
        border-radius: 18px;
    }

    @media screen and (min-width: $media1440) {
        height: 71px;
        margin-bottom: 15px;
    }

    @media screen and (min-width: $media1920) {
        height: 125px;
        margin-bottom: 20px;
    }

    input {
        border: none;

        @media (min-width: $media375) {
            width: 120px;
            height: 49px;
            border-radius: 15px;
            padding: 6px 0 0 15px;
        }

        @media (min-width: $media1024) {
            padding: 6px 0 0 17px;
            width: 362px;
            height: 32px;
            border-radius: 5px;
            font-size: 16px;
        }

        @media screen and (min-width: $media1440) {
            font-size: 16px;
            width: 686px;
            height: 32px;
            margin-right: 30px;
        }

        @media screen and (min-width: $media1920) {
            font-size: 25px;
            width: 827px;
            height: 53px;
            margin-right: 30px;
        }
    }

    .InputInfo {
        align-items: center;
        display: flex;
        justify-content: space-between;
        // align-items: flex-start;

        img {
            margin: 0 20px 0 20px;

            @media (min-width: $media375) {
                margin: 0 10px 0 0px;
            }

            @media (min-width: $media1024) {
                margin: 0 15px 0 17px;
                width: 30px;
                height: 38px;
            }

            @media (min-width: $media1440) {
                margin-left: 37px;
            }

            @media (min-width: $media1920) {
                margin-left: 37px;
                width: 50px;
                height: 50px;
            }
        }

        .balanceInfo {
            display: flex;
            flex-direction: column;
            width: 150px;

            .coinName {
                font-size: 16px;
                line-height: 16px;
                display: block;

                @media (min-width: $media375) {
                    font-size: 14px;
                    line-height: 14px;
                }

                @media (min-width: $media1024) {
                    line-height: 14px;
                    font-size: 14px;
                }

                @media screen and (min-width: $media1440) {
                    font-size: 14px;
                    line-height: 14px;
                }

                @media screen and (min-width: $media1920) {
                    font-size: 20px;
                    line-height: 20px;
                }
            }

            .maxBalance {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                @media (min-width: $media1024) {
                    margin-top: 4px;
                }

                @media (min-width: $media1440) {
                    margin-top: 0;
                }
            }

            .max {
                border-radius: 7px;
                background-color: $primary-color;
                color: #fff;
                font-size: 12px;
                padding: 3px 6px 0px 6px;
                vertical-align: middle;
                text-align: center;
                cursor: pointer;

                @media (min-width: $media375) {
                    font-size: 10px;
                }

                @media (min-width: $media1024) {
                    font-size: 8px;
                }

                @media screen and (min-width: $media1440) {
                    font-size: 10px;
                    line-height: 10px;
                    width: 30px;
                    min-width: 30px;
                    height: 15px;
                    padding: 4px 0 0 0;
                }

                @media screen and (min-width: $media1920) {
                    font-size: 15px;
                    line-height: 15px;
                    width: 51px;
                    min-width: 51px;
                    height: 24px;
                    padding: 7px 0 0 0;
                }
            }

            .balance {
                color: #f25817;
                display: inline-block;
                font-size: 16px;
                margin-left: 10px;
                margin-top: 3px;
                vertical-align: middle;

                @media (min-width: $media375) {
                    margin-top: 4px;
                }

                @media screen and (min-width: $media1024) {
                    margin-top: 4px;
                    font-size: 14px;
                }

                @media screen and (min-width: $media1440) {
                    font-size: 16px;
                    margin-top: 5px;
                }
            }

            @media (min-width: $media375) {
                width: 110px;
            }
        }
    }
}
