@import "src/variables";

.Input {
    background: #FFFAF3;
    border: 1px solid #F4EFE1;
    border-radius: 5px;
    display: flex;
    align-items: center;

    @media screen and (min-width: $media1024) {
        margin-bottom: 11px;
        width: 423px;
        height: 41px;
    }

    @media screen and (min-width: $media1440) {
        margin-bottom: 15px;
        width: 484px;
        height: 54px;
    }

    img {
        @media screen and (min-width: $media1024) {
            width: 18px;
            height: 18px;
            margin-left: 13.9px;
            margin-right: 8px;
        }

        @media screen and (min-width: $media1440) {
            width: 23px;
            height: 23px;
            margin-left: 20px;
            margin-right: 10px;
        }
    }

    .coinName {
        color: #636363;

        @media screen and (min-width: $media1024) {
            font-size: 12px;
            line-height: 16px;
            width: 83px;
        }

        @media screen and (min-width: $media1440) {
            font-size: 12px;
            line-height: 16px;
            width: 80px;
        }
    }

    .divider {
        background-color: #F4EFE1;

        @media screen and (min-width: $media1024) {
            height: 21px;
            width: 1px;
        }

        @media screen and (min-width: $media1440) {
            height: 28px;
            width: 2px;
        }
    }

    .max {
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #F95404;
        color: #F95404;
        cursor: pointer;

        @media screen and (min-width: $media1024) {
            margin-left: 20px;
            font-size: 9px;
            line-height: 12px;
            width: 29px;
            height: 14px;
        }

        @media screen and (min-width: $media1440) {
            margin-left: 15px;
            font-size: 10px;
            line-height: 14px;
            width: 35px;
            height: 17px;
        }
    }

    .balance {
        color: #F95404;

        @media screen and (min-width: $media1024) {
            font-size: 12px;
            line-height: 16px;
            margin-left: 17px;
            width: 74px;
        }

        @media screen and (min-width: $media1440) {
            font-size: 12px;
            line-height: 16px;
            margin-left: 10px;
            width: 77px;
        }
    }

    input {
        background: #FFFAF3;
        border: 1px solid #F4EFE1;
        box-sizing: border-box;
        border-radius: 5px;
        color: #636363;

        @media screen and (min-width: $media1024) {
            font-size: 12px;
            line-height: 16px;
            padding-left: 8px;
            width: 133px;
            height: 21px;
            margin-left: 14px;
        }

        @media screen and (min-width: $media1440) {
            font-size: 14px;
            line-height: 19px;
            padding-left: 15px;
            width: 173px;
            height: 29px;
            margin-left: 20px;
        }
    }
}
