@import 'src/variables';

.ApyChart {
    @media (min-width: $media375) {
    }

    @media (min-width: $media1024) {
        height: 130px;
    }

    @media (min-width: $media1440) {
        height: 150px;
    }

    @media (min-width: $media1920) {
        height: 180px;
    }

    &__Header {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        @media (min-width: $media375) {
            flex-wrap: wrap;
        }

        @media (min-width: $media1024) {
            flex-wrap: nowrap;
        }

        @media (min-width: $media1440) {
            margin: 20px 0 0 0;
        }

        @media (min-width: $media1920) {
        }

        .ApyChart__Title {
            color: #5b5959;

            @media screen and (min-width: $media375) {
                font-size: 12px;
                line-height: 16px;
            }

            @media screen and (min-width: $media1024) {
                font-size: 11px;
                line-height: 15px;
                width: auto;
                margin-bottom: 0;
            }

            @media screen and (min-width: $media1440) {
                font-family: 'Space Grotesk';
                font-weight: 500;
                font-size: 10px;
                line-height: 13px;
            }

            @media screen and (min-width: $media1920) {
                font-size: 12px;
                line-height: 16px;
            }
        }

        .ApyChart__Selector {
            display: flex;
            flex-direction: row;

            @media screen and (min-width: $media375) {
                grid-gap: 10px;
                gap: 10px;
            }

            @media screen and (min-width: $media1024) {
                grid-gap: 10px;
                gap: 10px;
            }

            @media screen and (min-width: $media1440) {
                grid-gap: 30px;
                gap: 30px;
            }

            @media screen and (min-width: $media1920) {
                grid-gap: 45px;
                margin-top: 20px;
                gap: 45px;
            }

            span {
                cursor: pointer;
                display: block;
                text-align: center;
                color: #636363;

                @media screen and (min-width: $media375) {
                    font-size: 10px;
                    line-height: 14px;
                }

                @media screen and (min-width: $media1024) {
                    font-size: 9px;
                    line-height: 12px;
                }

                @media screen and (min-width: $media1440) {
                    font-size: 10px;
                    line-height: 14px;
                }

                @media screen and (min-width: $media1920) {
                    font-size: 12px;
                    line-height: 15px;
                }

                &.active {
                    color: $primary-color;
                }
            }
        }
    }

    canvas {
        @media screen and (min-width: $media375) {
            margin-top: 50px;
            height: 150px !important;
        }

        @media screen and (min-width: $media1024) {
            margin-top: 50px;
        }

        @media screen and (min-width: $media1440) {
            margin-top: 10px;
            height: 150px;
        }

        @media screen and (min-width: $media1920) {
            margin-top: 15px;
            height: 180px;
        }
    }
}
