@import 'src/variables';

.WalletButton {
    position: relative;
    overflow: hidden;
    padding: 0.5rem 0.75rem 0.5rem 35px !important;
    font-size: 13px !important;
    line-height: 17px !important;
    text-align: center;

    &:active {
        border-color: transparent;
    }

    &-connected {
        .address {
            color: $primary-color;
            font-size: 13px;
            line-height: 18px;
        }
    }

    &-disconnected {
    }

    .icon {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        height: calc(100% - 5px);
    }

    .plus {
        position: absolute;
        left: 8px;
        top: 50%;
        transform: translate(0, -50%);
    }
}
