$media375: 375px;

.SideBar {
    align-items: center;
    background-color: #fbfbfb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 650px;
    justify-content: left;
    padding-top: 33px;
    width: 25%;

    @media screen and (max-width: $media375) {
        height: 270px;
        width: 100%;

        &_hide {
            display: none;
        }
    }
}
