@import "src/variables";

$media1600: 1600px;
$media1440: 1440px;
$media1024: 1024px;
$media435: 435px;

.LinkBlock {
    background-color: #FAFAFA;
    border-radius: $border-radius;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: 'Anderson Grotesk';
    height: 152px;
    justify-content: space-around;
    margin-bottom: 20px;
    position: relative;
    justify-content: flex-start;

    &__active {
        &::after {
            content: "";
            position: absolute;
            width: 4px;
            height: 116px;
            display: block;
            background-color: $primary-color;
            right: -21px;

            @media screen and (min-width: $media1440) {
                right: -24px;
                height: 152px;
                width: 5px;
            }

            @media screen and (min-width: $media1920) {
                width: 6px;
                height: 152px;
                right: -41px;
            }
        }
    }

    @media screen and (min-width: $media375) {
        height: 113px;
        margin-left: 5px;
        margin-right: 5px;

        &::after {
            display: none;
        }
    }

    @media screen and (min-width: $media1024) {
        margin: 0 auto 10px auto;

        &::after {
            display: block;
        }
    }

    @media screen and (max-width: $media1600) {
        height: 150px;

        &::after {
            display: block;
        }
    }

    @media screen and (max-width: $media1440) {
        height: 150px;
        margin-bottom: 15px;

        &::after {
            display: block;
        }
    }

    &__title {
        color: #000000;
        font-size: 25px;
        margin-left: 36px;
    }

    &__description {
        color: #e4e4e4;
        font-size: 20px;
        margin-left: 36px;
        justify-self: flex-end;
    }

    &__icon {
        position: absolute;
        right: 0;
        top: 10px;
        pointer-events: none;
        opacity: 0.1;
    }

    &__selected {
        background-color: #F64A00;

        .LinkBlock__title {
            color: #ffffff;
        }

        &:hover {
            background-color: #DE4300;
        }
    }

    @media (min-width: $media375) {
        height: 104px;


        &:not(.LinkBlock__selected) {
            height: 69px;
        }

        &__title {
            font-size: 16px;
            margin: 20px 0 0 17px;
        }

        &__description {
            font-size: 14px;
            margin: auto 0 10px 17px;
        }

        &[data-url="/deposit"] {
            .LinkBlock__icon {
                width: 100px;
                height: 71px;
                margin-top: -10px;
                margin-right: -20px;
            }
        }

        &[data-url="/withdraw"] {
            .LinkBlock__icon {
                width: 89px;
                height: 68px;
                margin-top: -10px;
                margin-right: 0;
            }
        }
    }

    @media screen and (min-width: $media1024) {
        height: 115px;
        width: 219px;

        &:not(.LinkBlock__selected) {
            height: 115px;
        }

        &__title {
            font-size: 18px;
            margin: 19px 0 0 14px;
        }

        &__description {
            font-size: 16px;
            margin: auto 0 17px 14px;
        }

        &[data-url="/"] {
            .LinkBlock__icon {
                width: 94px;
                height: 92px;
                margin-top: 8px;
                margin-right: 7px;
            }
        }

        &[data-url="/deposit"] {
            .LinkBlock__icon {
                width: 111px;
                height: 77px;
                margin-top: 0;
                margin-right: 0;
            }
        }

        &[data-url="/withdraw"] {
            .LinkBlock__icon {
                width: 110px;
                height: 82px;
                margin-top: 0;
                margin-right: 0;
            }
        }
    }

    @media screen and (min-width: $media1440) {
        height: 152px !important;
        width: 100%;

        &__title {
            font-size: 25px;
            margin: 30px 0 0 20px;
        }

        &__description {
            font-size: 20px;
            margin: auto 0 17px 20px;
        }

        &__icon {
            width: 120px;
            height: auto;
        }

        &[data-url="/"] {
            .LinkBlock__icon {
                width: 123px;
                height: 120px;
                margin-top: 8px;
                margin-right: 7px;
            }
        }

        &[data-url="/deposit"] {
            .LinkBlock__icon {
                width: 146px;
                height: 101px;
                margin-top: 0;
                margin-right: 0;
            }
        }

        &[data-url="/withdraw"] {
            .LinkBlock__icon {
                width: 145px;
                height: 108px;
                margin-top: 0;
                margin-right: 0;
            }
        }
    }

    @media screen and (min-width: $media1920) {
        width: 408px;
        height: 152px !important;

        &[data-url="/"] {
            .LinkBlock__icon_wrapper {
                overflow: hidden;
                width: 196px;
                height: 152px;
                position: absolute;
                right: 0;
                margin-top: 0;
                margin-right: 0;

                .LinkBlock__icon {
                    width: 196px;
                    height: 193px;
                    margin-top: -25px;
                    margin-right: 0;
                }
            }
        }

        &[data-url="/deposit"] {
            .LinkBlock__icon_wrapper {
                overflow: hidden;
                width: 267px;
                height: 152px;
                position: absolute;
                right: 0;
                margin-top: 0;
                margin-right: 0;

                .LinkBlock__icon {
                    width: 267px;
                    height: 205px;
                    margin-top: -25px;
                    margin-right: 0;
                }
            }
        }

        &[data-url="/withdraw"] {
            .LinkBlock__icon_wrapper {
                overflow: hidden;
                width: 289px;
                height: 152px;
                position: absolute;
                right: 0;
                margin-top: 0;
                margin-right: 0;

                .LinkBlock__icon {
                    width: 289px;
                    height: 221px;
                    margin-top: -7px;
                    margin-right: 10px;
                }
            }
        }
    }
}
