@import "src/variables";

$media1600: 1600px;
$media1440: 1440px;
$media1024: 1024px;
$media435: 435px;

.LinkBlock {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;

    @media screen and (min-width: $media1440) {
        height: 22px;
        margin-bottom: 25px;
    }

    &__active {
        @media screen and (min-width: $media1440) {
            &::before {
                width: 2px;
                height: 22px;
                position: absolute;
                content: "";
                background-color: #F95A05;
            }
        }

        .LinkBlock__title {
            color: $primary-color;
        }
    }

    &__title {
        color: #636363;

        @media screen and (min-width: $media1440) {
            font-size: 16px;
        }
    }

    &__icon {
        @media screen and (min-width: $media1440) {
            width: 16px;
            height: auto;
            margin-right: 10px;
            margin-left: 20px;
        }
    }
}
