@import "src/variables";

$media1600: 1600px;
$media1440: 1440px;
$media1024: 1024px;
$media435: 435px;

.LinkBlock {
    background-color: #FAFAFA;
    border-radius: $border-radius;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: 'Anderson Grotesk';
    height: 152px;
    justify-content: space-around;
    margin-bottom: 20px;
    position: relative;
    justify-content: flex-start;

    &:hover {
        background-color: $on-hover-secondary-color;
    }

    @media screen and (max-width: $media375) {
        height: 113px;
        margin-left: 5px;
        margin-right: 5px;
    }

    @media screen and (min-width: $media1024) {
        margin: 0 auto 10px auto;
    }

    @media screen and (max-width: $media1600) {
        height: 150px;
    }

    @media screen and (max-width: $media1440) {
        height: 150px;
        margin-bottom: 15px;
    }

    &__title {
        color: #000000;
        font-size: 25px;
        margin-left: 36px;
    }

    &__description {
        color: #e4e4e4;
        font-size: 20px;
        margin-left: 36px;
        justify-self: flex-end;
    }

    &__icon {
        position: absolute;
        right: 0;
        top: 10px;
        pointer-events: none;
        opacity: 0.1;
    }

    &__selected {
        background-color: #F64A00;

        .LinkBlock__title {
            color: #ffffff;
        }

        &:hover {
            background-color: $on-hover-color;
        }
    }

    @media (min-width: $media375) {
        height: 104px;
        overflow: hidden;

        &:not(.LinkBlock__selected) {
            height: 69px;
        }

        &__title {
            font-size: 16px;
            margin: 20px 0 0 20px;
        }

        &__description {
            font-size: 14px;
            margin: auto 0 10px 20px;
        }

        &__icon {
            height: 130px;
            margin-top: -5%;
        }
    }

    @media screen and (min-width: $media1024) {
        height: 115px;
        width: 219px;

        &:not(.LinkBlock__selected) {
            height: 115px;
        }

        &__title {
            font-size: 18px;
            margin: 19px 0 0 14px;
        }

        &__description {
            font-size: 16px;
            margin: auto 0 17px 14px;
            
        }
    }

    @media screen and (min-width: $media1440) {
        // height: 152px;
        height: 131px; /* Incorrect mockup */
        width: 100%;

        &__title {
            font-size: 25px;
            margin: 30px 0 0 20px;
        }

        &__description {
            font-size: 20px;
            margin: auto 0 17px 20px;
        }

        &__icon {
            width: 120px;
            height: auto;
        }
    }
}
