@import "src/variables";

.ClickableHeader {
    align-items: center;
    background-color: #FAFAFA;
    border-radius: $border-radius;
    display: flex;
    height: 115px;
    justify-content: space-between;
    margin: 20px;
    overflow: hidden;

    img {
        width: 252px;
        height: 193px;
        pointer-events: none;
    }

    span {
        font-family: 'Anderson Grotesk';
        font-size: 25px;
        margin-left: 35px;

        @media screen and (min-width: $media1024) {
            font-size: 18px;
        }

        @media screen and (min-width: $media1440) {
            font-size: 25px;
        }

        @media screen and (min-width: $media1920) {
            font-size: 35px;
        }
    }

    @media screen and (min-width: $media1440) {
        height: 152px;
    }
}
