@import "src/variables";

.ClickableHeader {
    align-items: center;
    border-radius: $border-radius;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    overflow: hidden;

    &[data-section="Dashboard"] {
        .close {
            display: none !important;
        }
    }

    .bg {
        width: 252px;
        height: 193px;
        pointer-events: none;

        @media (min-width: $media375) {
            margin-right: -40px;

            &[src="/section-dashboard-mobile.svg"] {
                width: 107px;
                height: 104px;
                margin-right: 10px;
            }
        }

        @media screen and (min-width: $media1024) {
            margin-right:0;
        }
    }

    .close {
        cursor: pointer;
        right: 50px;
        position: absolute;

        @media (min-width: $media375) {
            height: 20px;
            width: 20px;
        }

        @media (min-width: $media1024) {
            display: none !important;
        }

        &.dark {
            display: none;
        }
    }

    span {
        font-family: 'Anderson Grotesk';
        font-size: 25px;
        margin-left: 35px;

        @media (min-width: $media375) {
            font-size: 16px;
        }

        @media screen and (min-width: $media1024) {
            font-size: 18px;
        }

        @media screen and (min-width: $media1440) {
            font-size: 16px;
        }

        @media screen and (min-width: $media1920) {
            font-size: 35px;
        }
    }

    @media (min-width: $media375) {
        height: 69px;
        margin: 0 0 15px 0;
        border-radius: 15px;
        background-color: #f5f5f5;
    }

    @media screen and (min-width: $media1024) {
        height: 115px;
        margin: 20px 20px 0 20px;
        background-color: #FAFAFA;
    }

    @media screen and (min-width: $media1440) {
        height: 110px;
    }
}
