@import 'src/variables';

.modal-content,
.modal-header {
    background: linear-gradient(85.81deg, #f2f2f2 4.89%, #f2f2f2 88.71%) !important;
}

.modal-header {
    border-bottom: none !important;
    padding: 0 !important;

    .btn-close {
        transform: translate(-15px, 15px);
    }
}

.BscMigrationModal {
    // background: linear-gradient(80.09deg, #f8f8f8 10.29%, #f7f7f7 96.88%);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $media375) {
        width: 337px;
        // height: 468px;
    }

    @media screen and (min-width: $media1024) {
        width: 435px;
        // height: 334px;
    }

    @media screen and (min-width: $media1440) {
        width: 435px;
        // height: 361px;
    }

    h3 {
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        color: #636363;
    }

    p {
        font-weight: 500;
        font-size: 13px;
        // line-height: 138.1%;
        text-align: center;
        color: #8c8c8c;
    }

    .InfoBlock {
        width: 247px;
        height: 82px;
    }

    .alert {
        font-size: 14px;
    }
}
