@import "src/variables";

@font-face {
    font-family: 'Vela Sans Regular';
    src: url('./fonts/velasans-regular-webfont.woff2') format('woff2'),
         url('./fonts/velasans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body, #root {
    height: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: 'Vela Sans Regular';
}

body {
    background-color: #FFFCF5 !important;
}

#root > .container {
    margin: 0 auto;
    padding: 0;

    @media (min-width: $media1024) {
        max-width: 978px;
    }

    @media (min-width: $media1440) {
        max-width: 1333px;
    }
}

.copyright {
    font-style: normal;
    font-weight: normal;
    color: #DEDEDE;
    display: block;

    @media (min-width: $media1024) {
        margin-bottom: 20px;
        font-size: 9px;
        line-height: 12.2px;
        letter-spacing: 0.5px;
    }

    @media (min-width: $media1440) {
        margin-bottom: 25px;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0.5px;
    }
}

body.dark {
    background-color: #000 !important;

    .WalletStatus__Icon path:nth-child(1) {
        fill: #3C3C3C;
    }

    .WalletStatus__Icon path:nth-child(2) {
        fill: #494949;
    }

    .WalletStatus__Icon path:nth-child(3) {
        fill: #646464;
    }

    span,
    .ApyChart__Title,
    .PieChart__Header,
    .InfoBlock__description,
    .ApyChart__Selector span,
    .PieChart__StratList__Item__Name,
    .WalletStatus__connected .state,
    .PieChart .PieChart__StratList .PieChart__StratList__Item a,
    .DepositContent__Title,
    .Input .coinName,
    .Input input,
    .Lockdrop__Title,
    .DepositStory__Title,
    .DepositStory__Table thead tr td {
        color: #fff;
    }

    .InfoBlock__description_color {
        color: $primary-color;
    }

    .Sidebar,
    .strats-chart-col,
    .hist-apy-col,
    .InfoBlock,
    .operation-col {
        background: #1E1E1E;
    }

    .InfoBlock_colorful {
        background: linear-gradient(262.84deg, #1E1E1E -27.39%, #2C2C2C 71.59%);
    }

    .WalletStatus {
        background: linear-gradient(0.02deg, #1E1E1E 76.02%, #282828 95.61%);
    }

    .Form {
        .divider {
            background-color: $dark-border-color;
        }

        .ActionSelector__Action {
            background-color:  $dark-panel-bg;
        }

        .Input {
            background-color: #2B2B2B;
            border-color: $dark-border-color;

            input {
                background-color: #272727;
                border-color: $dark-border-color;
            }
        }

        .withdraw-all {
            background: $dark-panel-bg;
            color: #878787;
        }

        .direct-deposit span,
        .direct-dithdraw span {
            color: #828282;
        }
    }

    .Lockdrop,
    .Staking {
        &__Locked,
        &__Unclaimed {
            background: $dark-panel-bg;

            &__Title {
                color: #fff;
            }
        }

        &__Title {
            color: #fff;
        }

        &__Unclaimed {
            &__ICON {
                path {
                    fill: #494949;
                }
            }

            &__USD {
                color: $dark-muted-text-color;
            }
        }

        &__Locked {
            &__Token {
                background: $dark-panel-bg;
                border-color: $dark-border-color;

                .divider {
                    background-color: $dark-border-color;
                }

                .token {
                    color: #fff;
                }

                input[type="text"] {
                    border-color: $dark-border-color;
                    background-color: $dark-panel-bg;
                    color: #fff;
                }
            }
        }

        .DepositStory__Table thead tr td {
            border-color: $dark-border-color;
        }

        .DepositStory__Table tbody tr td {
            color: $dark-muted-text-color;
        }

        .DepositStory__Table tbody tr td button {
            background: #2A2A2A;
            color: #878787;

            &.disabled {
                background: #252323;
            }
        }
    }
}
