@import "src/variables";

@font-face {
    font-family: 'Anderson Grotesk';
    src: url('./fonts/AndersonGroteskRegular.ttf');
}

html, body, #root {
    height: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

#root > .container {
    margin: 0 auto;
    padding: 0;
}

.zun-shadow {
    box-shadow: $box-shadow;
}

.zun-rounded {
    border-radius: $border-radius !important;
}

button[disabled] {
    opacity: .5;
    pointer-events: none;
}

.preloader {
    width: 25px;
    height: 25px;
    display:inline-block;
    padding: 0;
    border-radius: 100%;
    border: 2px solid;
    border-top-color:$primary-color;
    border-bottom-color:rgba(0,0,0, 0.15);
    border-left-color:$primary-color;
    border-right-color:rgba(0,0,0, 0.15);
    animation: preloader 0.8s linear infinite;
}

@keyframes preloader {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@media (min-width: $media375) {
    .zun-gap {
        grid-gap: 5px !important;
        gap: 5px !important;
    }

    nav {
        padding-top: 14px !important;
    }

    .container {
        max-width: 100% !important;

        .main-row {
            width: 100%;
            margin-left: auto !important;
            margin-right: auto !important;
            flex-direction: row;
            align-content: flex-start;
            margin-top: 15px !important;
        }
    }

    .content-col {
        width: 100% !important;
        max-width: 100% !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
        padding-bottom: 20px;

        > .row {
            box-shadow: none;
            padding: 0;
            margin-top: 0 !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }

    #how-to-use-video {
        width: 100%;
        height: auto;
    }

    .modal-dialog {
        .modal-content {
            border-radius: $border-radius;
        }
    }
}

@media (min-width: 1024px) {
    .zun-gap {
        grid-gap: 13px !important;
        gap: 13px !important;
    }

    nav {
        padding-top: 0 !important;
    }

    .zun-rounded {
        border-radius: 17px !important;
    }

    .navbar-brand {
        margin-left: 5px !important;
    }

    .header-container {
        margin-top: 25px;
    }

    .container {
        max-width: 976px !important;

        .main-row {
            width: 975px;
            margin-left: auto !important;
            margin-right: auto !important;
            margin-bottom: 20px !important;
            margin-top: 21px !important;
        }
    }

    .content-col {
        width: 720px !important;
        max-width: 720px !important;
        padding-left: 20px !important;
        padding-right: 0 !important;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: stretch;
        padding-bottom: 0;

        > .row {
            box-shadow: $box-shadow;
            margin-bottom: 15px !important;

            &:last-child {
                margin-bottom: 0 !important;
                flex-grow: 1;
            }
        }
    }

    .modal-dialog {
        max-width: 600px !important;

        .modal-content {
            border-radius: $border-radius;
        }
    }

    #how-to-use-video {
        width: 560px;
        height: 315px;
    }
}

@media (min-width: $media1440) {
    .zun-gap {
        grid-gap: 17px !important;
        gap: 17px !important;
    }

    .zun-rounded {
        border-radius: 25px !important;
    }

    .container {
        max-width: 1353px !important;

        .main-row {
            width: 1353px;
            margin-left: auto !important;
            margin-right: auto !important;
            margin-top: 15px !important;
        }
    }

    .content-col {
        width: 976px !important;
        max-width: 976px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .zun-rounded {
        border-radius: 25px !important;
    }
}


@media (min-width: 1600px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1353px !important;
    }
}

@media (min-width: $media1920) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1920px !important;
    }

    .zun-gap {
        grid-gap: 24px !important;
        gap: 24px !important;
    }

    .container {
        width: 1821px !important;

        .main-row {
            width: 1820px;
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }

    .content-col {
        width: 1281px !important;
        max-width: 1281px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .zun-rounded {
        border-radius: 25px !important;
    }
}

body.dark {
    background-color: #252525;

    @media screen and (min-width: $media375) {
        .content-col .col,
        .MonthlyProfitCol,
        .TvlCol {
            background-color: $block-fg-black-color;
            border-radius: $border-radius17;
        }

        .dashboard-col {
            background-color: $block-bg-black-color;
            border-radius: 15px;
        }
    }

    @media screen and (min-width: $media1024) {
        .SidebarColumn,
        .row.zun-rounded.zun-shadow {
            background-color: $block-bg-black-color;
        }

        .content-col .col,
        .MonthlyProfitCol,
        .TvlCol {
            border-radius: 0;
        }

        .dashboard-col {
            background-color: transparent;
            border-radius: 0;
        }

        .content-col .col,
        .MonthlyProfitCol,
        .TvlCol {
            background-color: transparent;
        }

        .content-col,
        .dashboard-col > .row,
        .operation-col > .row,
        .operation-col {
            border-radius: $border-radius17 !important;
            overflow: hidden;
        }
    }

    @media screen and (min-width: $media1600) {
        .content-col,
        .dashboard-col > .row,
        .operation-col > .row,
        .operation-col {
            border-radius: $border-radius !important;
            overflow: hidden;
        }
    }

    .ThemeSwitcher__title,
    .InfoBlock__title,
    .InfoBlock__description:not(.InfoBlock__description_color),
    .LinkBlock__title,
    .PieChart__Header,
    .PieChartWrapper__Legend__Label,
    .PieChart__StratList__Item__Name,
    .NoWallet span {
        color: #ffffff;
    }

    .Disclaimer,
    .HowToUse,
    .ThemeSwitcher__button,
    .LinkBlock:not(.LinkBlock__selected),
    .ClickableHeader,
    form .Input {
        color: #ffffff;
        background-color: #5f5f5f;
        border-color: transparent;
    }

    .ClickableHeader img {
        opacity: 0.1;
    }

    .ThemeSwitcher__button:hover,
    .HowToUse:hover {
        background-color: #494949 !important;
    }

    .ClickableHeader .close.default {
        display: none;
    }

    .ClickableHeader .close.dark {
        display: block;
        opacity: 1;
    }
}
