$border-radius: 25px;
$border-radius17: 17px;

$media1920: 1920px;
$media1600: 1600px;
$media1440: 1440px;
$media1200: 1200px;
$media1024: 1024px;
$media375: 375px;
$media435: 435px;
$media577: 577px;

$box-shadow: 0 0 2px rgba(0, 0, 0, .2);

$on-hover-color: #DE4300;
$on-hover-secondary-color: #E6E6E6;

$primary-color: #F64A00;
$muted-color: #767676;

/* Black theme */

$block-bg-black-color: #2F2F2F;
$block-fg-black-color: #3A3A3A;
