name: Deployment to app.zunami.io
on:
    push:
        branches:
            - main
jobs:
    app-build-deploy:
        uses: ./.github/workflows/build-and-deploy.yml
        with:
            local_folder: build
            remote_folder: /var/www/html
        secrets:
            host: ${{ secrets.HOST }}
            username: ${{ secrets.USERNAME }}
            privateKey: ${{ secrets.PRIVATEKEY }}
            port: ${{ secrets.PORT }}
    notify-to-slack:
      runs-on: ubuntu-latest
      environment: CI/CD
      steps:
        - uses: slackapi/slack-github-action@v1.21.0
          with:
              channel-id: ${{ secrets.SLACK_CHANNEL_ID }}
              slack-message: "Zunami App deploy result: ${{ job.status }}\n${{ github.event.pull_request.html_url || github.event.head_commit.url }}"
          env:
              SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
